<div class="container">
	<form class="form-signin" data-ng-submit="login()">
		<h2 class="form-signin-heading">Ingreso al sistema</h2>
		<label for="inputEmail" class="sr-only">Dirección de e-mail</label>
		<input type="email" data-ng-model="mail" id="inputEmail" class="form-control" placeholder="Dirección de e-mail" required autofocus>
		<label for="inputPassword" class="sr-only">Contraseña</label>
		<input type="password" data-ng-model="contrasenia" id="inputPassword" class="form-control" placeholder="Contraseña" required>
		<button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
	</form>
</div>