<div class ="container">
<thead>
        <tr>
            <th><strong>ID</strong></th>
            <th><strong>nombre</strong></th>
            <th><strong>mail</strong></th>
            <th><strong>rol</strong></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="usuario in usuarios">
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nombre }}</td>
            <td>{{ usuario.mail }}</td>
            <td>{{ usuario.rol }}</td>
            <td>
                <button type="button" data-ng-click="editar()">Editar</button>
                <button type="button" data-ng-click="eliminar()">Eliminar</button>
            </td>
        </tr>
    </tbody>


    <div class="col-lg-6 text-right">
            <h2>Editar Usuario</h2>
            <form ng-submit="guardarUsuarioEditado"()>
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Nombre" data-ng-model="usuario.nombre"></label>
                </div>
                <div class="form-group">
                        <input type="email" class="form-control" placeholder="Mail" data-ng-model="usuario.mail"></label>
                </div>
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Rol" data-ng-model="usuario.rol"></label>
                </div>
                <button type="button" class="btn btn-success" data-ng-click="guardarUsuarioEditado()">Guardar</button>
                <button type="button" class="btn btn-default" data-ng-click="cancelarUsuario()">Cancelar</button>
                </div>
             </form>
    </div>
</div>